h1 {
  font-family: 'Anton', sans-serif;
  font-size: 50px;
}

h2, p {
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #008891;
  font-size: 25px;
}

p {
  color: rgb(50, 50, 50);
  font-size: 15px;
}

a {
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
  font-size: 25px;
}

a:hover {
  color: #6f9eaf;
}

body {
  margin: 0px;
  padding: 0px;
}

footer {
  background-color: rgb(100, 100, 100);
  margin: 0px;
  padding: 0px;
}

footer > p {
  color: rgb(200, 200, 200);
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.banner {
  background-image: url(https://source.unsplash.com/user/erondu);
  background-size: cover;
  height: 50%;
  color: white;
  text-shadow: 2px 2px #ef4f4f;
}

.banner > h1 {
  padding-top: 20%;
}

.banner > p {
  font-size: 25px;
  bottom: 0;
}

.text-center {
  text-align: center;
}

.main-body {
  padding: 10px;
  margin: 5px auto;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 40px;
  border-radius: 10px;
}

.list-inline > li > a > i {
  color: #22031F;
}

.list-inline > li > a > i:hover {
  color: #CE8147;
}

/* Media queries */
@media(max-width: 576px) {
  .main-body {
    width: 80%;
  }
}
@media(max-width: 768px) {
  .main-body {
    width: 80%;
  }
}
@media(max-width: 992px) {
  .main-body {
    width: 80%;
  }
}
@media(max-width: 1200px) {
  .main-body {
    width: 80%;
  }
}
